<footer id="footer">
        <p class="copyright">
                built by
                <a href="https://github.com/jumpmeee">@jumpmeee</a> for
                <a href="https://github.com/mhee112">@mhee112</a>  | 
            &copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>