<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>나의 키워드 - 무료 성향 분석</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<!-- Scripts -->
	<!-- <script src="/assets/js/jquery.min.js"></script> -->
	<script src="https://mykeyword.herokuapp.com/"></script>
	<script>
		$(function() {
			$("#regist").on("click", function(e) {
				e.preventDefault();

				let email = $("#uname").val();
				console.log("regist email==============" + email);

				$.ajax({
					url: "/users/emailchk",
					data: { email : email },
					type: "POST",
					dataType: "JSON"
				}).done((res) => {
					console.log(typeof(res.rslt) +" " + res.rslt);		
					if(!res.rslt) {
						$("#insert_email").submit();			
					} else {
						alert('이메일이 중복되었습니다.');
						$("#uname").val("");
					}
				}).fail((xhr, status, err) => {
					alert('error!');
				});
			});

			$("#search_rslt").on("click", function(e) {
				e.preventDefault();

				let email = $("#rslt_email").val();
				console.log("rslt==============" + email);

				$.ajax({
					url: "/users/emailchk",
					data: { email : email },
					type: "POST",
					dataType: "JSON"
				}).done((res) => {
					console.log(typeof(res.rslt) +" " + res.rslt);		
					if(res.rslt) {
						$("#index_email").submit();			
					} else {
						alert('이메일이 존재하지 않습니다.');
						$("#rslt_email").val("");
					}
				}).fail((xhr, status, err) => {
					alert('error!');
				});
			});
		});


	</script>
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<script language="javascript">
		// Get the modal
		var modal = document.getElementById('id01');

		//When the user clicks anywhere outside of the modal, close it
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>

	<!-- Wrapper -->


	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<span class="q">

				<!-- <a href="/"> -->
				<img src="/images/q.svg" alt="" />
				<!-- </a> -->
			</span>
			<h1>나의 키워드</h1>
			<p>내가 아는 나와 남들이 아는 나의 차이는?</p>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li>
					<a href="#intro" class="active">Introduction</a>
				</li>
				<li>
					<a href="#result">Result Section</a>
				</li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="intro" class="main">

				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>처음이세요?</h2>
						</header>
						<p>자신의 베스트 키워드를 지금 바로 알아보세요.</p>
						<button onclick="document.getElementById('id01').style.display='block'">시작하기</button>
						<!-- <a href="#" class="button" data-toggle="modal" data-target="#login-modal">Login</a> -->
						<div id="id01" class="modal">

							<form id="insert_email" class="modal-content animate" action="/check" method="POST">
								<div class="imgcontainer">
									<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
									<!-- <img src="images/q.svg" alt="Avatar" class="avatar">  -->
								</div>

								<div class="container">
									<label><b>이메일을 입력해주세요.</b></label>
									<input type="text" placeholder="example@example.com" name="uname" id="uname" required>
									<footer class="action">
										<br>
										<button id="regist">확인</button>
										<!-- <button type="submit">확인</button> -->
									</footer>

								</div>
							</form>
						</div>
						<!-- 
						<ul class="actions">
							<li>
								<a href="/check" class="button" id="start">시작하기</a>
							</li>
						</ul> -->
						<!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>  -->
					</div>
					<!-- <span class="image"><img src="images/pic01.jpg" alt="" /></span> -->
				</div>
			</section>

			<!-- Result Section -->
			<section id="result" class="main special">
				<header class="major">
					<h2>결과보기</h2>
				</header>
				<form id="index_email" name="index_email" action="/users/indexrslt" method="POST">

					<!-- <input type="text" name="Email" placeholder="example@example.com"> -->
					<div class="actions ">
						<!-- <label><b>이메일을 입력해주세요.</b></label>  -->
						<input type="text" placeholder="example@example.com" name="uname" id="rslt_email" required>
						<!-- <input type="hidden" name="email" value="testemail@test.com"> -->
						<footer class="major">
							<button class="actions special" id="search_rslt">확인</button>
						</footer>
						<!-- <input type="checkbox" checked="checked">  Remember me-->
					</div>
				</form>
			</section>
		</div>

		<!-- Footer -->
		<% include ./footer %>
		<!-- <script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script> -->
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
		
</body>

</html>